{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="bg-white">
    <div class="hash-bg">
        <div class="search">
            <h2 class="search_title"><em><span class="main_title">#Cafe`in_stagram</span></em></h2>
        </div>
    </div>
</header>
<h1 style="text-align: center; padding: 30px; color: dodgerblue;" class="hash_text">'#{{ hash_tag }}'</h1>
<h2 style="text-align: center; padding: 20px;" class="hash_text">< 해시태그 검색 결과 ></h2>
<div class="grid_cotainer" style="display: grid; grid-template-columns: 300px 300px 300px 300px; grid-gap: 20px 20px; align-items: center; justify-content: center; padding-bottom: 100px;">
    {% for item1, item2, item3, item4 in zip_list %}
    <div class="item">
        <p style="text-align: left; font-size: 0.8em;">
            <a href="{% url 'detail' item1.pk %}" style="text-decoration: none; color: black;">
                {% if not item4.image_url == "None" %}
                    <img src="{{ item4.image_url }}" style="width: 100%; height: 200px; border-radius: 25px 25px 0 0;"> <br>
                <hr>
                {% endif %}
                <span style="font-weight: bold; font-size: 1.1em;">{{ item1.name }}</span> <br>
                <span style="font-size: 1.2em; color: orange;">{{ item2.score }}</span>
                <span style="font-size: 1.2em;">/ 5.0</span><br>
                <span style="font-weight: bold; font-size: 0.9em;">{{ item1.add1 }}</span> <br>
                <span style="font-weight: bold; font-size: 0.9em;">{{ item1.tel1 }}</span> <br>
                <span style="font-weight: bold; font-size: 0.9em;"><img src="{% static 'img/hit.png' %}" style="width: 20px;"> {{ item1.hit }}</span>
                <span style="font-weight: bold; font-size: 0.9em;"><img src="{% static 'img/comment.png' %}" style="width: 20px;"> {{ item3.count }}</span> <br>
            </a>
        </p>
    </div>
    {% endfor %}
</div>

{% endblock %}