{% extends 'base.html' %}
{% block content %}
    <header class="bg-white">
        <div class="intro-bg">
            <div class="search">
                <h2 class="search_title">Instagram Cafe</h2>
            <ul class="board_module_search">
                <form method="get" action="{% url 'search' %}">
                    <li>
                        <input type="text" name="search" id="search" placeholder="지역, 카페 이름 또는 메뉴">
                    </li>
                    <li>
                        <input type="submit" class="board_btn" value="검색" maxlength="100" tabindex="1">
                    </li>
                </form>
            </ul>
            </div>
        </div>
    </header>
    <div class="text-center my-5" style="font-family: 'Noto Sans KR', sans-serif;">
        <h1 class="display-5 fw-bolder text-black mb-4" style="font-size: 2em;">내 주변 카페 찾기</h1>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-dark btn-lg px-4 me-sm-3 rounded-pill" href="#grid-start">카페 둘러보기</a>
            <a class="btn btn-dark btn-lg px-4 me-sm-3 rounded-pill" href="{% url 'crawling' %}">카페 업데이트</a>
        </div>
    </div>
    <div class="grid_cotainer" style="display: grid; grid-template-columns: 300px 300px 300px 300px; grid-gap: 20px 20px; align-items: center; justify-content: center;">
    {% for list in page_obj %}
    <div class="item">
        <p style="text-align: left; font-size: 0.8em;" id="grid-start">
            <a href="{% url 'detail' list.pk %}" style="text-decoration: none; color: black;">
                <img src="{{ list.image_url }}" style="width: 100%; height: 200px; border-radius: 25px 25px 0 0;"> <br>
                <hr>
                <span style="font-weight: bold;">{{ list.image_id.name }}</span> <br>
                <span style="font-weight: bold; font-size: 0.9em;">{{ list.image_id.add1 }}</span> <br>
                <span style="font-weight: bold; font-size: 0.9em;">전화번호: {{ list.image_id.tel1 }}</span> <br>
                <span style="font-weight: bold; font-size: 0.9em;">조회수: {{ list.image_id.hit }}</span> <br>
            </a>
        </p>
    </div>
    {% endfor %}
    </div>

<!-- 페이징처리 시작 -->
    <div id="paging">
        <ul class="pagination justify-content-center" style="margin-top: 2rem;">
            <!-- 이전페이지 -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?&page={{ page_obj.previous_page_number }}">이전</a>
                <!-- href로 뎁스 설정 -->
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in page_obj.paginator.page_range %}
            {% if page_number == page_obj.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?&page={{ page_obj.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <!-- Pricing section-->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder" style="font-family: 'Noto Sans KR', sans-serif;">주간 인기 카페</h2>
                <p class="lead mb-0" style="font-family: 'Noto Sans KR', sans-serif;">popular cafe of weeks</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                {% for list in hit_cafe %}
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <img src="{{ list.cafe_img }}" style="width: 275px; height: 150px;" alt="" border="1"> <br>
                            <span style="font-weight: bold;">{{ list.title }}</span> <br>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Testimonials section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Customer testimonials</h2>
                <p class="lead mb-0">Our customers love working with us</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- Testimonial 1-->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">Thank you for putting together such a great product. We loved working with you and the whole team, and we will be recommending you to others!</p>
                                    <div class="small text-muted">- Client Name, Location</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 2-->
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">The whole team was a huge help with putting things together for our company and brand. We will be hiring them again in the near future for additional work!</p>
                                    <div class="small text-muted">- Client Name, Location</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section-->
    <section class="bg-light py-5">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h2 class="fw-bolder">Get in touch</h2>
                <p class="lead mb-0">We'd love to hear from you</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">Full name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                            <label for="phone">Phone number</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}