{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="bg-white">
        <div class="intro-bg">
            <div class="search">
                <h2 class="search_title"><em><span class="main_title">#Cafe`in_stagram</span></em></h2>
            <ul class="board_module_search">
                <form method="get" action="{% url 'search' %}">
                    <li>
                        <input type="text" name="search" id="search" placeholder="지역, 카페 이름 또는 메뉴">
                    </li>
                    <li>
                        <input type="submit" class="board_btn" value="검색" maxlength="100" tabindex="1">
                    </li>
                </form>
            </ul>
            </div>
        </div>
    </header>
    <div class="text-center my-5" style="font-family: 'Noto Sans KR', sans-serif;">
        <h1 class="display-5 fw-bolder text-black mb-4" style="font-size: 2em;">내 주변 카페 찾기</h1>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-dark btn-lg px-4 me-sm-3 rounded-pill" href="#grid-start">카페 둘러보기</a>
            {% if user.is_authenticated %}
                <a class="btn btn-dark btn-lg px-4 me-sm-3 rounded-pill" href="{% url 'crawling' %}">카페 업데이트</a>
            {% endif %}
        </div>
    </div>
    <div class="grid_cotainer" style="display: grid; grid-template-columns: 300px 300px 300px 300px; grid-gap: 20px 20px; align-items: center; justify-content: center;">
    {% for item1, item2, item3, item4 in zip_list %}
    <div class="item" id="item">
        <p style="text-align: left; font-size: 0.8em;" id="grid-start">
            <a href="{% url 'detail' item1.pk %}" style="text-decoration: none; color: black;">
                {% if not item4.image_url == "None" %}
                    <img src="{{ item4.image_url }}" style="width: 100%; height: 200px; border-radius: 25px 25px 0 0;"> <br>
                <hr>
                {% endif %}
                <span style="font-weight: bold; font-size: 1.1em;">{{ item1.name }}</span> <br>
                <span style="font-size: 1.2em; color: orange;">{{ item2.score }}</span>
                <span style="font-size: 1.2em;">/ 5.0</span><br>
                <span style="font-weight: bold; font-size: 0.9em;">{{ item1.add1 }}</span> <br>
                <span style="font-weight: bold; font-size: 0.9em;">{{ item1.tel1 }}</span> <br>
                <span style="font-weight: bold; font-size: 0.9em;"><img src="{% static 'img/hit.png' %}" style="width: 20px;"> {{ item1.hit }}</span>
                <span style="font-weight: bold; font-size: 0.9em;"><img src="{% static 'img/comment.png' %}" style="width: 20px;"> {{ item3.count }}</span> <br>
            </a>
        </p>
    </div>
    {% endfor %}
    </div>

<!-- 페이징처리 시작 -->
    <div id="paging">
        <ul class="pagination justify-content-center" style="margin-top: 2rem;">
            <!-- 이전페이지 -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?&page={{ page_obj.previous_page_number }}">이전</a>
                <!-- href로 뎁스 설정 -->
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in page_obj.paginator.page_range %}
                {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
                    {% if page_number == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?&page={{ page_obj.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <!-- Pricing section-->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <p class="lead mb-0" style="font-family: 'Staatliches', cursive; font-size: 3em; text-align: center; color: #F1C164; text-shadow: 2px 2px #2D63A7; margin: 0;"><em>popular cafe of weeks</em></p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                {% for item1, item2, item3 in mylist %}
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <a href="{% url 'detail' item2.pk %}" style="text-decoration: none;">
                        <div class="card-body p-5">
                            <span style="font-weight: bold; color: black;">{{ item3.name }}</span> <br>
                            <img src="{{ item1.image_url }}" style="width: 275px; height: 180px; border: none;" alt="" border="1"> <br>
                            <table>
                                <tr>
                                    <td class="category_text">주소</td>
                                    <td class="category_content">
                                        {{ item3.add1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category_text">도로명</td>
                                    <td class="category_content">
                                        {{ item3.add2 }}
                                    </td>
                                </tr>
                                <tr>
                                <td class="category_text">전화번호</td>
                                    <td class="category_content">
                                        {{ item3.tel1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category_text">주차</td>
                                    <td class="category_content">
                                        {{ item3.ballet }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category_text">영업시간</td>
                                    <td class="category_content">
                                        {{ item3.opening }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category_text">휴일</td>
                                    <td class="category_content">
                                        {{ item3.off }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category_text">좌석</td>
                                    <td class="category_content">
                                        {{ item3.sit }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category_text">주류판매</td>
                                    <td class="category_content">
                                        {{ item3.alcohol }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category_text">금연석</td>
                                    <td class="category_content">
                                        {{ item3.smoke }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category_text">예약</td>
                                    <td class="category_content">
                                        {{ item3.reservation }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category_text">화장실</td>
                                    <td class="category_content">
                                        {{ item3.restroom }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category_text">배달</td>
                                    <td class="category_content">
                                        {{ item3.delivery }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="category_text">평점</td>
                                    <td class="category_content">
                                        <span class="category_content" style="color: orange; font-size: 1.1em;">{{ item2.score }}</span>
                                        <span class="category_content" style="font-size: 1.1em; padding-right: 10px;">/ 5.0</span>
                                        <progress value="{{ item2.score }}" max="5"></progress>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Chart section-->
    <section class="py-5 border-bottom" style="text-align: center;">
        <p class="lead mb-0" style="font-family: 'Staatliches', cursive; font-size: 3em; text-align: center; color: #F1C164; text-shadow: 2px 2px #2D63A7; margin: 0;"><em>Best 10 Cafe</em></p>
        <div id="chart_div" style="width: 100%; height: 500px;"></div>
    </section>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  var totalArray = new Array();
  var nameArray = new Array();
  var scoreArray = new Array();
  var commentArray = new Array();
  var hitArray = new Array();
  var test = new Array();
  nameArray = [
      {% for list in cafe %}
        "{{ list.name }}",
      {% endfor %}
  ]
  scoreArray = [
      {% for list in cafe_score_total %}
        {{ list.score }},
      {% endfor %}
  ]
  commentArray = [
      {% for list in comment_list %}
        {{ list.count }},
      {% endfor %}
  ]
  hitArray = [
      {% for list in cafe %}
        {{ list.hit }},
      {% endfor %}
  ]
  console.log(hitArray);

  for(var i=0; i<nameArray.length; i++) {
    test[i] = [nameArray[i], scoreArray[i], commentArray[i], hitArray[i]];
  }
  console.log(test);
  function drawChart() {
    var count = 0;
    var data = google.visualization.arrayToDataTable([
      ['CafeName', '평점', '댓글', '조회수'],
      test[216],
      test[1],
      test[234],
      test[66],
      test[126],
      test[287],
      test[71],
      test[90],
      test[237],
      test[240],
    ]);
    var options = {
      hAxis: {titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
{% endblock %}
